In [72]:
import pandas as pd
import warnings
import psycopg2
import os
from dotenv import load_dotenv

In [73]:
warnings.filterwarnings("ignore")

# Conectar a la base de datos

In [74]:
load_dotenv(dotenv_path="../credenciales.env")

db_host = os.getenv("DB_HOST_AWS")
db_username = os.getenv("DB_USER_AWS")
db_password = os.getenv("DB_PASSWORD_AWS")
db_database = os.getenv("DB_DATABASE_AWS")
db_port = int(os.getenv("DB_PORT_AWS", 5432))

try:
    connection = psycopg2.connect(host=db_host,
                                  database=db_database,
                                  user=db_username,
                                  password=db_password,
                                  port=db_port,
                                  sslmode="require")
    

    print("Conexión exitosa a la base de datos PostgreSQL con SSL")

except psycopg2.OperationalError as e:
    print("Error de conexión:", e)
except Exception as error:
    print("Error desconocido:", error)

Conexión exitosa a la base de datos PostgreSQL con SSL

# Todas Las Tablas

In [75]:
query_1 = "SELECT * FROM admin_data"
query_2 = "SELECT * FROM categoria_pregunta_chat_intermed"
query_3 = "SELECT * FROM categorias_chatbot"
query_4 = "SELECT * FROM no_sociosanit_formulario"
query_5 = "SELECT * FROM opciones_chatbot"
query_6 = "SELECT * FROM preguntas"
query_7 = "SELECT * FROM preguntas_chatbot"
query_8 = "SELECT * FROM preguntas_front"
query_9 = "SELECT * FROM preguntas_opciones_chatbot"
query_10 = "SELECT * FROM sociosanitarios_formulario"
query_11 = "SELECT * FROM respuestas_chatbot_sanitarios"
query_12 = "SELECT * FROM respuestas_chatbot_nosanitarios"

In [76]:
#admin_data
df_1 = pd.read_sql_query(query_1, connection, index_col="admin_id")
df_1.head()

                           email      password
admin_id
1         felgtbiqplus@gmail.com  123456abcdEF

In [77]:
#categoria_pregunta_chat_intermed
df_2 = pd.read_sql_query(query_2, connection,index_col="id_pregunta")
df_2.head()

             id_categoria
id_pregunta
13                      6
9                       6
5                       6
10                      6
11                      6

In [78]:
#categorias_chatbot
df_3 = pd.read_sql_query(query_3, connection, index_col="id_categoria")
df_3.head()

                      titulo_categoria         seccion
id_categoria
1                   Personal Sanitario  sociosanitario
2                    Trabajador Social  sociosanitario
3                            Psicologo  sociosanitario
4                             Educador  sociosanitario
5             Voluntarios y Cuidadores  sociosanitario

In [79]:
#no_sociosanit_formulario
df_4 = pd.read_sql_query(query_4, connection,index_col="no_sociosanit_id")
df_4.head()

,edad,pronombre_el,pronombre_ella,pronombre_elle,identidad_genero,orientacion_sexual,vives_en_espana,nacionalidad,permiso_residencia,persona_racializada,persona_discapacitada,persona_sin_hogar,persona_migrante,persona_intersexual,nivel_estudios,situacion_afectiva,provincia,id_usuario,created_at
no_sociosanit_id,,,,,,,,,,,,,,,,,,,
1,0,True,True,True,Hombre Cis,Gay,True,string,True,True,True,True,True,True,Primarios,Soltero,None,None,2024-12-09 11:23:00.439208
2,0,True,True,True,Hombre Cis,Gay,True,string,True,True,True,True,True,True,Primarios,Soltero,None,None,2024-12-09 11:23:00.439208
3,25,False,True,True,Hombre Cis,Gay,True,string,True,True,True,True,True,True,Primarios,Soltero,Valencia,None,2024-12-09 11:23:00.439208
4,0,True,True,True,Hombre Cis,Gay,True,string,True,True,True,True,True,True,Primarios,Soltero,Álava,None,2024-12-09 11:23:00.439208
5,0,True,True,True,Hombre Cis,Gay,True,Albania,True,True,True,True,True,True,Primarios,Soltero,Álava,None,2024-12-09 11:23:00.439208

In [80]:
df_4["persona_discapacitada"].value_counts()

persona_discapacitada
True     64
False    55
Name: count, dtype: int64

In [81]:
print(list(df_4.columns))

['edad', 'pronombre_el', 'pronombre_ella', 'pronombre_elle', 'identidad_genero', 'orientacion_sexual', 'vives_en_espana', 'nacionalidad', 'permiso_residencia', 'persona_racializada', 'persona_discapacitada', 'persona_sin_hogar', 'persona_migrante', 'persona_intersexual', 'nivel_estudios', 'situacion_afectiva', 'provincia', 'id_usuario', 'created_at']

In [82]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119 entries, 1 to 119
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   edad                   119 non-null    int64
 1   pronombre_el           119 non-null    bool
 2   pronombre_ella         119 non-null    bool
 3   pronombre_elle         119 non-null    bool
 4   identidad_genero       119 non-null    object
 5   orientacion_sexual     119 non-null    object
 6   vives_en_espana        119 non-null    bool
 7   nacionalidad           119 non-null    object
 8   permiso_residencia     119 non-null    bool
 9   persona_racializada    119 non-null    bool
 10  persona_discapacitada  119 non-null    bool
 11  persona_sin_hogar      119 non-null    bool
 12  persona_migrante       119 non-null    bool
 13  persona_intersexual    119 non-null    bool
 14  nivel_estudios         119 non-null    object
 15  situacion_afectiva     119 non-null    object
 16  provincia              117 non-null    object
 17  id_usuario             11 non-null     object
 18  created_at             119 non-null    datetime64[ns]
dtypes: bool(10), datetime64[ns](1), int64(1), object(7)
memory usage: 10.5+ KB

In [83]:
#opciones_chatbot
df_5 = pd.read_sql_query(query_5, connection,index_col="id_opcion")
df_5.head()

                                        texto_opcion
id_opcion
1                Manejo clínico de pacientes con vih
2                                      Protocolo PEP
3                           Tratamientos (PREP, TAR)
4             Prevención de infecciones oportunistas
5          Consejería para adherencia al tratamiento

In [84]:
#preguntas
df_6 = pd.read_sql_query(query_6, connection,index_col="pregunta_id")
df_6.head()

Empty DataFrame
Columns: [texto]
Index: []

In [85]:
#preguntas_chatbot
df_7 = pd.read_sql_query(query_7, connection,index_col="id_pregunta")
df_7.head()

                                     texto_pregunta
id_pregunta
1                             ¿Qué apoyo necesitas?
2            ¿Qué necesitas como Trabajador Social?
3             ¿Cuándo ocurrió la posible infección?
4                ¿Necesitas recursos de referencia?
5                       ¿Tienes acceso a un médico?

In [86]:
#preguntas_front
df_8 = pd.read_sql_query(query_8, connection,index_col="id_categoria")
df_8.head()

,titulo_categoria,texto_pregunta,texto_opcion
id_categoria,,,
1.1.1,Tengo VIH,¿Cuándo te diagnosticaron?,Hace menos de 6 meses
1.1.2,Tengo VIH,¿Cuándo te diagnosticaron?,Entre 6 meses y un año
1.1.3,Tengo VIH,¿Cuándo te diagnosticaron?,Hace más de un año
1.1.4,Tengo VIH,¿Estás en tratamiento TAR?,Sí
1.1.5,Tengo VIH,¿Estás en tratamiento TAR?,No

In [87]:
#preguntas_opciones_chatbot
df_9 = pd.read_sql_query(query_9, connection,index_col="id_pregunta")
df_9.head()

             id_opcion
id_pregunta
16                   1
16                   2
16                   3
16                   4
16                   5

In [124]:
#sociosanitarios_formulario:
df_10 = pd.read_sql_query(query_10, connection,index_col="sociosanitario_id")
df_10.head()

,provincia,ambito_laboral,id_usuario,created_at
sociosanitario_id,,,,
1,Álava,Centro de Salud,None,2024-12-09 11:23:00.584254
2,Álava,Centro de Salud,None,2024-12-09 11:23:00.584254
3,Segovia,Hospital,None,2024-12-09 11:23:00.584254
4,Almería,Asociación,None,2024-12-09 11:23:00.584254
5,Salamanca,Otro,None,2024-12-09 11:23:00.584254

# Graficos por Hacer

In [89]:
#Exposicion al virus en funcion al chemsex
#Provincias con vih
#De todas las personas que tienen vih cuantas estan en tratamiento Tar
#Grafico de series temporales
#Identidad de genero: distribucion vih
#Orientacion sexual: distribucion vih
#Identidad de genero para gente que apoya a personas seropositivas
#Orientacion sexual para gentee que apoya a personas seropositivas
#Distribucion has compartido tu diagnostico con alguien
#Cuantas veces se ha pediddo apoyo sicológico
#Distribucion ambito laboral
#Distribucion gente de vih/o que cree que se ha expuesto en fucion de la situacion afectiva sentimental
#Cantidad que gente ques la pep

In [128]:
df_11 = pd.read_sql_query(query_11, connection)
df_11.head()

Empty DataFrame
Columns: [id_usuario, especialidad, recursos, pregunta1, respuesta1]
Index: []

In [127]:
df_12 = pd.read_sql_query(query_12, connection)
df_12.head()

,id_usuario,pregunta1,respuesta1,response_array
0,17339175987865357e1ef2c314831a70a82100881b95e,¿Cuál es tu situación?,Creo que me he expuesto al virus,"[¿Cuándo ocurrió la posible infección?, Hace m..."
1,1234abcd,¿Cuál es tu situación?,Tengo VIH,"[¿Cuándo te diagnosticaron?, Hace menos de 6 m..."